@model IEnumerable<ISA.Models.Entities.Airplane>
@using ISA.Models.Entities
@inject ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager

<hr />
<h4>Airplanes</h4>
@{
    var userId = "";

    if (User.Identity.IsAuthenticated)
    {
        userId = (await UserManager.GetUserAsync(User)).Id;

        if (User.Identity.IsAuthenticated && Model.First() != null && ((User.IsInRole("AirAdmin") && Context.Administration.Any(a => a.ApplicationUserId == userId && a.Provider == Model.First().Airline.Provider)) || User.IsInRole("SysAdmin")))
        {
            <p>
                <a asp-controller="Airplane" asp-action="Create" asp-route-airlineName=@ViewBag.AirlineName>Create New</a>
            </p>
        }
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirplaneName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AirplaneName)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && ((User.IsInRole("AirAdmin") && Context.Administration.Any(a => a.ApplicationUserId == userId && a.Provider == item.Airline.Provider)) || User.IsInRole("SysAdmin")))
                    {
                        <a asp-controller = "Airplane" asp-action = "Details" asp-route-id = "@item.AirplaneName" > Details </a> <span> | </span>
                        <a asp-controller = "Airplane" asp-action = "Delete" asp-route-id = "@item.AirplaneName" > Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
