@model ISA.Models.FlightViewModels.CreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (ViewBag.DuplicateKey)
            {
                <label style="color:red">A flight with name @Model.FlightName already exists</label>
            }
            <input type="hidden" asp-for="AirlineName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightName" class="control-label"></label>
                <input asp-for="FlightName" class="form-control" />
                <span asp-validation-for="FlightName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirplaneName" class="control-label"></label>
                <select asp-for="AirplaneName" class="form-control" asp-items="@ViewBag.Airplanes">
                    <option selected value="">--Select Airplane--</option>
                </select>
                <span asp-validation-for="AirplaneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureLocationName" class="control-label"></label>
                <select asp-for="DepartureLocationName" class="form-control" asp-items="@ViewBag.Destinations" data-val="true" data-val-required="Required">
                    <option selected value="">--Select origin--</option>
                </select>
                <span asp-validation-for="DepartureLocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalLocationName" class="control-label"></label>
                <select asp-for="ArrivalLocationName" class="form-control" asp-items="@ViewBag.Destinations">
                    <option selected value="">--Select destination--</option>
                </select>
                <span asp-validation-for="ArrivalLocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KM" class="control-label"></label>
                <input asp-for="KM" class="form-control" />
                <span asp-validation-for="KM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarryOnBag" class="control-label"></label>
                <input asp-for="CarryOnBag" class="form-control" />
                <span asp-validation-for="CarryOnBag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedBag" class="control-label"></label>
                <input asp-for="CheckedBag" class="form-control" />
                <span asp-validation-for="CheckedBag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaggageDetails" class="control-label"></label>
                <input asp-for="BaggageDetails" class="form-control" />
                <span asp-validation-for="BaggageDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <input asp-for="Services" class="form-control" />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
