<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Friendship" asp-action="Friends">Friends</a></li>
    <li><a asp-area="" asp-controller="Friendship" asp-action="Sent">Sent Requests</a></li>
    <li><a asp-area="" asp-controller="Friendship" asp-action="Recieved">Recieved Requests</a></li>
</ul>
